@use '/src/app/styles/variables' as *;

.TimelineDates {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 50px;
  pointer-events: none;
  h1{
    font-size: 200px;
  }
  h1:nth-child(1){
    color: $pink;
  }
  h1:nth-child(2){
    color: $blue;
  }
}

@media (max-width: 450px) {
  .TimelineDates{
    justify-content: center;
    border-bottom: 1px solid #C7CDD9;
    padding-bottom: 50px;
    width: calc(100% - 40px);
    h1{
      font-size: 56px;
    }
  }
}