@use '/src/app/styles/variables' as *;

.event{
  display: flex;
  flex-direction: column;
  gap: 10px;
  p{
    min-width: 180px;
  }
  p:nth-child(1){
    color: $blue;
    font-size: 25px;
    font-weight: bold;
  }
  p:nth-child(2){
    color: $dark-blue;
    font-size: 20px;
  }
}